
<app-header></app-header>
<hr>
<app-main></app-main>
<div class="container">
  <div class="row">

    <div class="col-6">
      <form [formGroup]="formCotizacion" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend>Tipo de cambio</legend>

          <div class="form-group">
            Precio de:
            <select formControlName="source" class="form-control" id="exampleSelect1" required>
              <option value="">Seleccione una opcion</option>
              <option value="USD">U$ Dolar</option>
              <option value="ARS">$ Pesos Argentinos</option>
              <option value="NIO">C$ Cordoba Nicaraguense</option>

            </select>
          </div>
          <div class="form-group">
            Con respecto a:
            <select formControlName="target" class="form-control" id="exampleSelect1" required>
              <option value="">Seleccione una opcion</option>
              <option value="USD">U$ Dolar</option>
              <option value="ARS">$ Pesos Argentinos</option>
              <option value="NIO">C$ Cordoba Nicaraguense</option>

            </select>
          </div>
          <div class="form-group">
            Cantidad:
            <input class="form-control" type="number" name="quantity" formControlName="quantity" id="">
          </div>
          <div class="container">
            <div class="row">
              <h3 *ngIf="result" class="h3 text-danger">Resultado:$ {{cotizacion}}</h3>
            </div>
          </div>
          <button [disabled]="!formCotizacion.valid" type="submit" class="btn btn-primary">Convertir</button>
        </fieldset>
      </form>
    </div>
    <div class="col-6">
      <h4 class="text-center text-black">COTIZACION DEL € EURO</h4>
      <h6 class="text-center text-secondary">Actualizado cada 5 segundos</h6>

      <table class="table table-dark">

        <thead>
          <tr>
            <th scope="col">Moneda</th>
            <th scope="col">Valor</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Fecha</th>
          </tr>
        </thead>
        <tbody>
          <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
            <p class="loading">Obteniendo cotizacion del euro...</p>
          </ngx-spinner>
          <tr *ngFor="let d of cotizacionDolar; let i=index">
            <th scope="row">Dolar</th>
            <td>{{d.amount}}</td>
            <td>{{d.quantity}}</td>
            <td>{{d.updated | date:"medium"}}</td>
          </tr>
          <tr *ngFor="let p of cotizacionPesos; let i = index">
            <th scope="row">Pesos Argentinos</th>
            <td>{{p.amount}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.updated| date:"medium"}}</td>
          </tr>
          <tr *ngFor="let c of cotizacionCordoba; let i =index">
            <th scope="row">Cordoba</th>
            <td>{{c.amount}}</td>
            <td>{{c.quantity}}</td>
            <td>{{c.updated| date:"medium"}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
<hr>
<!-- Footer -->
<app-footer></app-footer>
